.MyInput{
	width: 100%;
	padding: 8px 0px;
	border: none;
	border-bottom: 2px solid rgb(97, 85, 85);
	background-color: transparent;
	cursor: pointer;

}
.valid{
	border-bottom: 2px solid green;
}
.invalid{
	border-bottom: 2px solid red;
}
.MyInput:focus{
	box-shadow: none !important;

	outline: none;
}